@import "Variables/colors";

html, body {
  background-color: $color-grey-light;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  &:nth-of-type(1) {
    margin-top: 1em;
  }
  &:nth-of-type(n+2) {
    margin-top: 2em;
  }
}
